<!doctype html>

<html lang="zh-CN" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer" />
    <title>伙聚</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="/css/community.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js" type="application/javascript"></script></script>

</head>

<script type="application/javascript">
    window.onload=function (){
        var closable=window.localStorage.getItem("closable");
        if(closable=="true")
        {
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>

<body>

<div th:insert="navigation :: nav"></div>
<div class="container main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
           <h2 style="padding-top: 10px"><i class="bi bi-card-list"></i>学习</h2>
            <hr>
            <div class="card mb-2" th:each="discussion:${pagination.data}">
                <div class="row g-0">
                    <div class="col-md-2" >
                        <img  class="img-fluid rounded-start" th:src="${discussion.user.avatarUrl}">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a th:href="@{'/discussion/'+${discussion.id}}" th:text="${discussion.title}"></a>
                            </h4>
                            <p class="card-text" th:text="${discussion.description}">文章内容</p>
                            <p class="card-text" ><small class="text-muted">
                                <span th:text="${discussion.commentCount}"></span>个回复 |
                                <span th:text="${discussion.viewCount}"></span>次浏览 |
                                <span th:text="${#dates.format(discussion.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                                </small></p>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center" >
                    <li class="page-item" th:if="${pagination.showFirstPage}">
                        <a  class="page-link" href="@{/(page=1,search=${search},tag=${tag},sort=${sort})}" aria-label="Previous" >
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li class="page-item" th:if="${pagination.showPrevious}">
                        <a class="page-link" th:href="@{/(page=${pagination.page - 1},search=${search},tag=${tag},sort=${sort})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page : ${pagination.pages}" th:class="${pagination.page == page}? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{/(page=${page},search=${search},tag=${tag},sort=${sort})}" th:text="${page}"></a>
                    </li>

                    <li class="page-item" th:if="${pagination.showNext}">
                        <a class="page-link"
                           th:href="@{/(page=${pagination.page +1 },search=${search},tag=${tag},sort=${sort})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li class="page-item" th:if="${pagination.showEndPage}">
                        <a class="page-link"
                           th:href="@{/(page=${pagination.totalPage},search=${search},tag=${tag},sort=${sort})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div th:insert="~{notice :: notice}"></div>
            <!--相关问题-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>热门标签</h4>
                <span class="discussion-tag" th:each="tag : ${tags}">
                        <i class="bi bi-tags"></i>
                        <a th:href="@{/(page=1,tag=${tag})}"
                           th:text="${tag}" class="community-tag"></a>
                    </span>
            </div>
<!--            <div th:insert="~{side :: side}"></div>-->
        </div>


    </div>

</div>
<div th:insert="footer :: foot"></div>
</body>
</html>